    /* body {
        background: radial-gradient(circle at top, #111827, #030712);
        color: white;
    }

    .game-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .game-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 25px #0d6efd;
    } */

    .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
    }

    .carousel-item img {
        height: 550px;
        object-fit: cover;
    }